:root {
    --pink: #F1C0CC;
    --black: #212020;
    --green: #7AFF80;
    --sans-font: 'Josefin Sans', sans-serif;
    --mono-font: 'JetBrains Mono', monospace; 
}

body{
    margin: 0;
    background-color: white;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);   
    grid-template-areas: 
    "a a a a a a b b b b"
    "c c c d d d d e e e"
    "f f f f g g g g g g"
    "h h h h i i i j j j";                   
}

/* NAVIGARION Section */
    nav {
        background-color: white;
        color: black;
        font-family: var(--sans-font);
        padding: 5px 25px 0px; 
    }

    .navigation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    a {
        text-decoration: none;
        color: var(--black);
    }

    .logo{
        font-weight: 700;
        font-style: italic;
        font-size: 1.4em;               
        }
        .logo i {
            transform: rotate(20deg);
            vertical-align: middle;
            width: 10px;
            height: 18px;
            padding-bottom: 10px;
            padding-right: 16px; 
        }

    .menu-icon {
        position: absolute;
        top: 1em;
        right: 1em;
        color: var(--green);
        display: none;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;    
    }
        .menu-icon i {
            font-size: 28px;
        }

    .nav-links ul {     
        display: flex;
    }
        li {
            list-style: none;
        }
        .nav-links a {
            font-weight: 500;  
            font-size: 1em;
            text-transform: uppercase;
            padding: .5em 1em;
            display: block;  
        }
        .nav-links .order-cta {
            background-color: var(--black);
            color: white;
            margin-left: .8em;
        }
        .nav-links .order-cta:hover {
            background-color: var(--pink);
        }
        .nav-links a:hover {
            font-weight: 800;
        }

/* HEADER Section */
    .header {
        grid-area: a;
        background-color: black;
        height: 1fr;
        text-align: center;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;  
        
    } 

    h1 {
        color: var(--pink);
        padding-bottom: 60px;
        font-family: var(--sans-font);
        font-style: italic;
        font-size: 3em;
        line-height: 1.2em;
    }
        h1 span {
            text-decoration-line: underline;
            text-decoration-style: wavy;
            text-decoration-color: var(--green);
            text-decoration-thickness: 3px;
        }

    .order-btn {
        background-color: white;
        border: none;
        padding: 10px 15px;
        font-family: var(--mono-font);
        font-weight: 500;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .order-btn:hover {
        background-color: var(--green);
        font-size: 1.3em;
    }

    .center { 
        min-height: 200px;
        width: 80%;
        padding: 10px;
        /*border: 1px solid white;*/
    }

    .header-img {
        grid-area: b;
        display: block; 
        line-height: 0;   
    }
/* END of HEADER Section */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;         
}

/* SOCIAL MEDIA Section */
    .media-left {
        grid-area: c;   
        background-color: var(--black);  
        max-height: 500px;     
    }

.media-links {
   grid-area: d;
    background-color: var(--green);
    text-align: center;
    color: var(--black);
    font-family: var(--mono-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 500px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-family: var(--sans-font);
    font-style: italic;
    font-weight: 600;
    max-width: 300px;
    line-height: 1.5em;
    color: white;    
}

.media-links a {
    text-decoration: none;
    color: var(--black);
    font-size: .8em;
    line-height: 40px;
    text-transform: uppercase;
}

.media-links a:hover {
    color: var(--pink);
}

.grid5 {
    grid-area: e;
     background-color: grey;
     max-height: 500px; 
 }

 .grid6 {
    grid-area: f;
     background-color: blue;
 }

 .grid7 {
    grid-area: g;
     background-color: purple;
 }

 .grid8 {
    grid-area: h;
     background-color: pink;
 }

 .grid9 {
    grid-area: i;
     background-color: green;
 }

 .grid10 {
    grid-area: j;
     background-color: orangered;
 }



 @media (max-width: 600px) {

/*RESPONSIVE NAVBAR FOR MOBILE */
    nav {
        padding: 20px 20px 10px;
    }

    .menu-icon {  
        display: flex;
    }

    .nav-links {
        display: none;
    }
    
    .nav-links.active {
        display: flex;      
    } 

    .navigation-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        align-self: flex-start;
    }

    .nav-links .order-cta {
        margin-left: 0px;
        margin-top: 5px;
    }

    .nav-links ul {
        flex-direction: column;
        align-content: center;
        text-align: center;
        padding: 20px 0px;
    }

/* END OF RESPONSIVE NAV */

 

 }






 